<h4>Prusa Mesh Leveling</h4>

<p>
    Specify the GCODE script to perform the mesh bed level operation as well as to check its status after the leveling operation completes. You may also include your own stuff here, like bed temps or PINDA temperature stabilization. Just make sure your extras happen before G81.
</p>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Mesh Leveling GCode Script</label>
        <div class="controls">
            <textarea rows="4" class="block" data-bind="value: settingsViewModel.settings.plugins.PrusaMeshMap.do_level_gcode"></textarea>
        </div>
    </div>
</form>
