<button class="btn btn-block control-box" data-bind="enable: controlViewModel.isOperational() && !controlViewModel.isPrinting() && loginStateViewModel.isUser(), click: function() { $root.sendPrusaBedLevel() }">Perform Bed Level and Check</button>
<img id="PrusaMeshMap-heatmap" src="plugin/PrusaMeshMap/static/img/heatmap.png" />
<button class="btn btn-block control-box" onclick='document.getElementById("PrusaMeshMap-heatmap").src="/plugin/PrusaMeshMap/static/img/heatmap.png?" + new Date().getTime();'>Reload Heatmap Image</button>
