<button class="btn btn-block control-box" data-bind="enable: controlViewModel.isOperational() && !controlViewModel.isPrinting() && loginStateViewModel.isUser(), click: function() { $root.sendPrusaBedLevel() }">Perform Bed Level and Check</button>
<img id="PrusaMeshMap-heightmap" src="/plugin/PrusaMeshMap/static/img/heightmap.png" />
<button class="btn btn-block control-box" onclick='document.getElementById("PrusaMeshMap-heightmap").src="/plugin/PrusaMeshMap/static/img/heightmap.png?" + new Date().getTime();'>Reload Heightmap Image</button>
